.section {
  padding: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .todoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
